html {
	max-width: 1500px;
	overflow-x: hidden;
	margin: auto;
	color: lime;
	font-family: consolas, sans-serif;
	background-color: black;
}


hr {
	color: green
}

a:link,
a:visited {
	color: white;
}

a:hover {
	transition: .3s;
	color: grey;
}

a:active {
	transition: 0s;
	color: green;
}

.nav {
	overflow: hidden;
	background-color: #202020;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 14pt;
}
.nav a {
	float: left;
	display: block;
	text-align: center;
	padding: 8px 10px;
	text-decoration: none;
}

.container {
	background-color: black;
	color: lime;
	font-family: consolas, sans-serif;
	font-size: 14pt;
	margin-top: 45px;
	height: 2000px;
}

figcaption {
	text-align: center;
	font-size: 88%;
}

audio {
	width: 100%;
}

blockquote {
	border-left: 5px solid green;
	padding: 0.5em 5px;
	background-color: #231E1E;
	overflow-x: wrap;
}

code {
	padding: 0px;
	background-color: lightgray;
	color: black;
	font-size: 88%;
	font-family: monospace;
	border-radius: 2px;
	border-color: black;
	border-width: 1px;
}

img {
	height: 50vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

video {
	width: 50%;
	height: 50%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

input {
	resize: none;
	background-color: lightgrey;
	color: black;
	font-size: 18px;
	display: center;
	margin-left: auto;
	margin-right: auto;
	width:400px;
}

select {
	background-color: lightgrey;
	color: black;
	font-size: 18px;
	display: center;
	margin-left: auto;
	margin-right: auto;
}

table {
	text-align: left;
	display: block;
	width: 800px;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
}

td {
	margin-left: 10px;
	margin-right: 10px;
}

button {
	background-color: darkgrey;
	margin: 0 auto;
	outline: 1px solid lime;
	color: darkgreen;
	text-align: justify;
	cursor: pointer;
	font-size: 16px;
	display: block;
}
